@import url("//fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=M+PLUS+1p:wght@300&display=swap");

html {
  line-height  : 1.42;
  -webkit-text-size-adjust : 100%;
}

body {
  background   : #000;
  color        : #fff;
  margin-left  : auto;
  margin-right : auto;
  text-align   : center;
  width        : 680px;
}

h1, h2, h3 {
  font-family : "Open Sans", "M PLUS 1p", sans-serif;
  font-weight : 300;
}

a, dl, ol, p, ul {
  font-family : "Open Sans", "M PLUS 1p", sans-serif;
  font-weight : 300;
}

div#stage {
  margin-left  : auto;
  margin-right : auto;
  position     : relative;
}

div#stage canvas {
  position : absolute;
    left   : 0;
    top    : 0;
}

ol, ul {
  text-align : left;
}
